.App {
    margin: 0 auto;
    height: 100vh;
}

#map { 
    height: 600px;
    width: 800px;
}

.mapboxgl-popup-content {
    width: auto;
    height: auto;
    background-color: lightblue;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
}

.mapboxgl-popup-tip {
    visibility: hidden;
}

p {
    margin: 0px;
}

h3 {
    margin: 0px;
}

